<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<title>{{ titulo }}</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="contenido">

<h1>{{ titulo }}</h1>

<form method="POST">

<label>Alumno</label>

<select name="alumno" required>

{% for alumno in alumnos %}

<option
value="{{ alumno.nombre }}"
{% if rutina and rutina.alumno == alumno.nombre %}
selected
{% endif %}>

{{ alumno.nombre }}

</option>

{% endfor %}

</select>

<br><br>

<label>Lunes</label>
<input type="text" name="lunes"
value="{{ rutina.lunes if rutina else '' }}">

<br><br>

<label>Martes</label>
<input type="text" name="martes"
value="{{ rutina.martes if rutina else '' }}">

<br><br>

<label>Miércoles</label>
<input type="text" name="miercoles"
value="{{ rutina.miercoles if rutina else '' }}">

<br><br>

<label>Jueves</label>
<input type="text" name="jueves"
value="{{ rutina.jueves if rutina else '' }}">

<br><br>

<label>Viernes</label>
<input type="text" name="viernes"
value="{{ rutina.viernes if rutina else '' }}">

<br><br>

<button class="agregar">

💾 Guardar Rutina

</button>

</form>

</div>

</body>

</html>